In [1]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris
import statistics

In [2]:
data = load_iris()

In [3]:
df = pd.DataFrame()

In [4]:
df[data['feature_names']] = data['data']

In [5]:
df['label'] = data['target']

In [6]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   label              150 non-null    int32
dtypes: float64(4), int32(1)
memory usage: 5.4 KB

In [8]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [9]:
df.count()

sepal length (cm)    150
sepal width (cm)     150
petal length (cm)    150
petal width (cm)     150
label                150
dtype: int64

In [10]:
df.shape

(150, 5)

In [11]:
df.dtypes

sepal length (cm)    float64
sepal width (cm)     float64
petal length (cm)    float64
petal width (cm)     float64
label                  int32
dtype: object

In [12]:
df.isna().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
label                0
dtype: int64

In [13]:
#Mean
df.mean()

sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
label                1.000000
dtype: float64

In [14]:
print("Mean of sepal length (cm): ", df['sepal length (cm)'].mean())
print("Mean of sepal width (cm): ", df['sepal width (cm)'].mean())
print("Mean of petal length (cm): ", df['petal length (cm)'].mean())
print("Mean of petal width (cm): ", df['petal width (cm)'].mean())

Mean of sepal length (cm):  5.843333333333334
Mean of sepal width (cm):  3.0573333333333337
Mean of petal length (cm):  3.7580000000000005
Mean of petal width (cm):  1.1993333333333336

In [15]:
#Median
df.median()

sepal length (cm)    5.80
sepal width (cm)     3.00
petal length (cm)    4.35
petal width (cm)     1.30
label                1.00
dtype: float64

In [16]:
print("Median of sepal length (cm): ", df['sepal length (cm)'].median())
print("Median of sepal width (cm): ", df['sepal width (cm)'].median())
print("Median of petal length (cm): ", df['petal length (cm)'].median())
print("Median of petal width (cm): ", df['petal width (cm)'].median())

Median of sepal length (cm):  5.8
Median of sepal width (cm):  3.0
Median of petal length (cm):  4.35
Median of petal width (cm):  1.3

In [17]:
#Mode
df.mode()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.0,3.0,1.4,0.2,0
1,NaN,NaN,1.5,NaN,1
2,NaN,NaN,NaN,NaN,2

In [18]:
df['sepal length (cm)'].mode()

0    5.0
Name: sepal length (cm), dtype: float64

In [19]:
df['sepal width (cm)'].mode()

0    3.0
Name: sepal width (cm), dtype: float64

In [20]:
df['petal length (cm)'].mode()

0    1.4
1    1.5
Name: petal length (cm), dtype: float64

In [21]:
df['petal width (cm)'].mode()

0    0.2
Name: petal width (cm), dtype: float64

In [22]:
#standard deviation
df.std()

sepal length (cm)    0.828066
sepal width (cm)     0.435866
petal length (cm)    1.765298
petal width (cm)     0.762238
label                0.819232
dtype: float64

In [23]:
print("Standard Deviation of sepal length (cm): ", df['sepal length (cm)'].std())
print("Standard Deviation of sepal width (cm): ", df['sepal width (cm)'].std())
print("Standard Deviation of petal length (cm): ", df['petal length (cm)'].std())
print("Standard Deviation of petal width (cm): ", df['petal width (cm)'].std())

Standard Deviation of sepal length (cm):  0.8280661279778629
Standard Deviation of sepal width (cm):  0.435866284936698
Standard Deviation of petal length (cm):  1.7652982332594667
Standard Deviation of petal width (cm):  0.7622376689603465

In [24]:
df.groupby(df['label']).count()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
label,,,,
0,50,50,50,50
1,50,50,50,50
2,50,50,50,50

In [25]:
df.groupby(['label']).mean()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
label,,,,
0,5.006,3.428,1.462,0.246
1,5.936,2.770,4.260,1.326
2,6.588,2.974,5.552,2.026

In [26]:
df.groupby(['label']).median()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
label,,,,
0,5.0,3.4,1.50,0.2
1,5.9,2.8,4.35,1.3
2,6.5,3.0,5.55,2.0

In [27]:
df.groupby(['label']).std()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
label,,,,
0,0.352490,0.379064,0.173664,0.105386
1,0.516171,0.313798,0.469911,0.197753
2,0.635880,0.322497,0.551895,0.274650

### Python Program

In [28]:
def mean(x,y):
    if y == '1':
        print(df['sepal length (cm)'].mean())
    elif y == '2':
        print(df['sepal width (cm)'].mean())
    elif y == '3':
        print(df['petal length (cm)'].mean())
    elif y == '4':
        print(df['petal width (cm)'].mean())
    elif y == '5':
        print(df['label'].mean())
        
def median(x,y):
    if y == '1':
        print(df['sepal length (cm)'].median())
    elif y == '2':
        print(df['sepal width (cm)'].median())
    elif y == '3':
        print(df['petal length (cm)'].median())
    elif y == '4':
        print(df['petal width (cm)'].median())
    elif y == '5':
        print(df['label'].median())
              
def mode(x,y):
    if y == '1':
        print(df['sepal length (cm)'].mode())
    elif y == '2':
        print(df['sepal width (cm)'].mode())
    elif y == '3':
        print(df['petal length (cm)'].mode())
    elif y == '4':
        print(df['petal width (cm)'].mode())
    elif y == '5':
        print(df['label'].mode())
              
def std_dev(x,y):
    if y == '1':
        print(df['sepal length (cm)'].std())
    elif y == '2':
        print(df['sepal width (cm)'].std())
    elif y == '3':
        print(df['petal length (cm)'].std())
    elif y == '4':
        print(df['petal width (cm)'].std())
    elif y == '5':
        print(df['label'].std())

In [29]:
print('Operations to be performed:\n1.Mean\n2.Median\n3.Mode\n4.Standard Deviation')
x = input("Enter option: ")
print('Columns on which operation to be performed:\n1.sepal length (cm)\n2.sepal width (cm)\n3.petal length (cm)\n4.petal width (cm)\n5.label')
y = input("Enter column number: ")
if x == 1:
    mean(x,y)
elif x == 2:
    median(x,y)
elif x == 3:
    mode(x,y)
elif x == 4:
    std_dev(x,y)
else:
    exit(0)

Operations to be performed:
1.Mean
2.Median
3.Mode
4.Standard Deviation
Enter option: 1
Columns on which operation to be performed:
1.sepal length (cm)
2.sepal width (cm)
3.petal length (cm)
4.petal width (cm)
5.label
Enter column number: 1